
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 70px; 
  background-color: #f4f7f6;
}

a {
  text-decoration: none;
}

h2, p, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 2rem;
  color: #2c3e50; 
  margin-bottom: 1rem;
}

p {
  font-size: 1.125rem;
  color: #7f8c8d; 
  line-height: 1.6;
  margin-bottom: 1.5rem;
}


header {
  background-color: #34495e; 
  color: white;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-name {
  font-size: 2rem;
  color: white;
}

.nav-name span {
  color: #e74c3c; 
}

.nav-menu ul {
  display: flex;
  list-style: none;
}

.nav-menu a {
  color: white;
  padding: 0.5rem 1rem;
}

.nav-menu a:hover {
  background-color: #2980b9; 
  border-radius: 4px;
}

.nav-menu-btn {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}


@media (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #34495e;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }

  .nav-menu-btn {
    display: block;
    color: white;
  }
}


html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px; 
}


#home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  padding-bottom: 5rem;
  background-color: #ecf0f1; 
  padding-top: 70px; 
}

#home-text {
  flex: 1;
  max-width: 600px;
}

.social_icons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.icon a i {
  width: 30px;
  height: 30px;
  font-size: 2rem;
  color: black; 
}

#code {
  width: 35px;
  height: 35px;
}

.icon a:hover i {
  color: #3498db; 
}

.btn {
  display: flex;
  gap: 1rem;
}

.btn button {
  background-color: #3498db; 
  border: none;
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn button:hover {
  background-color: #2980b9; 
  transform: scale(1.05);
}

.img1 {
  flex: 1;
  display: flex;
  justify-content: center;
}

.img1 img {
  max-width: 70%;
  height: 70%;
  border-radius: 50%;
  padding: 5px;
  background: linear-gradient(10deg, #2c3e50, #7f8c8d); 
}

img:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  #home {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #home-text {
    max-width: none;
    margin-bottom: 2rem;
  }

  .social_icons {
    justify-content: center;
  }
}


#about img {
  border-radius: 50%;
  padding: 5px;
  background: linear-gradient(#ff6347, #ffb6b9); 
}



#about-section{
  padding: 6rem 2rem;
  margin:  2rem;
  border-radius: 15px;
}

#about p{
  width: 50vw;
  color: rgb(75, 73, 73);
  margin: 0 auto;
  padding: 0.2rem;
}



.hi {
  font-size: 2rem;
}


#about {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background-color: #f9f5f5;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}


.skills-section {
  background-color: #f4f7f6; 
  padding: 4rem 2rem;
  text-align: center;
  margin: 2rem;
  padding-top: 70px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.skill {
  background-color: #ffffff; 
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skill h3 {
  border-bottom: 2px solid #2980b9; 
  margin-bottom: 1rem;
  font-family: 'Courier';
  font-style: italic;
  color: #2c3e50;
}


.projects-section {
  background-color: #f9f9f9; 
  padding: 4rem 2rem;
  text-align: center;
  padding-top: 70px; 
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.project {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  align-items: center;
  max-height: 90vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project img {
  max-width: 200px;
  border-radius: 10px;
  height: 250px;
}

.project h3 {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #2c3e50;
}

.project .btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #3498db; 
  color: white;
  border: none;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

.project .btn:hover {
  background-color: #2980b9; 
}


#contact-section {
  background-color: #ecf0f1;
  padding: 40px;
  margin: 40px 40px 0;
  text-align: center;
  border-radius: 10px;
  padding-top: 70px; 
}

#contact-section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #2c3e50;
}

#contact {
  max-width: 600px;
  margin: 0 auto;
}

#contact p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #7f8c8d;
}

#contact-icon {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

#contact-icon div {
  text-align: center;
}

#contact-icon i {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #3498db;
}

#contact-icon p {
  font-size: 1.1em;
  color: #2c3e50;
}

.in {
  margin-top: 30px;
}

.in h3 {
  font-size: 1.5em;
  color: #2980b9;
}

.in i {
  font-size: 3em;
  color: #2980b9;
  margin-top: 10px;
  cursor: pointer;
}

.in i:hover {
  color: #2c3e50;
}


footer {
  background-color: #34495e; 
  color: #fff;
  display: flex;
  text-align: center;
  padding: 20px;
  width: 100%;
  font-family: 'Arial', sans-serif;
  font-size: 0.875rem;
}

footer h3 {
  width: 100vw;
  margin: 0;
  color: white;
}

@media (max-width: 600px) {
  footer {
    padding: 15px;
    font-size: 0.75rem;
  }
}
